<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Medical Report</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'template.css' %}">
</head>
<body style="font-family: rob; font-size: 16px; margin: 30px;">

    <!-- Header -->
    <div style="text-align: center; margin-bottom: 20px;">
        <img src="{% static 'logo2.jpg' %}" alt="Logo" style="height:50px; margin-bottom:10px;">
        <h2>AI-Powered HealthCare Platform</h2>
        <h3>Medical Report</h3>
    </div>
    <hr style="border: 1px solid #3e6bb9; margin-bottom:20px;">

    <!-- Patient Information -->
    <div class="section">
        <h4>Patient Information</h4>
        <p><strong>Full Name:</strong> {{ full_name }}</p>
        <p><strong>Patient ID:</strong> {{ patient_id }}</p>
        <p><strong>Age:</strong> {{ age }}</p>
        <p><strong>Gender:</strong> {{ gender }}</p>
        <p><strong>Report ID:</strong> {{ report_id }}</p>
        <p><strong>Timestamp:</strong> {{ timestamp }}</p>
    </div>
    <hr style="border: 1px solid #3e6bb9; margin:20px 0;">

    <!-- Symptoms -->
    <div class="section">
        <h4>Symptom Details</h4>
        <p>{{ symptoms|join:", " }}</p>
    </div>
    <hr style="border: 1px solid #3e6bb9; margin:20px 0;">

    <!-- Diagnosis -->
    <div class="section">
        <h4>Diagnosis</h4>
        <p><strong>Disease:</strong> {{ pred }}</p>
        <p><strong>Description:</strong> {{ dis_des }}</p>
    </div>
    <hr style="border: 1px solid #3e6bb9; margin:20px 0;">

    <!-- Recommendations -->
    <div class="section">
        <h4>Recommendations</h4>
        <p><strong>Precautions:</strong> {{ dis_pre|join:", " }}</p>
        <p><strong>Medications:</strong> {{ dis_med|join:", " }}</p>
        <p><strong>Diet:</strong> {{ dis_diet|join:", " }}</p>
        <p><strong>Workouts:</strong> {{ dis_workout|join:", " }}</p>
    </div>
    <hr style="border: 1px double #3e6bb9; margin:20px 0;">

</body>
</html>
